.env
.env.backup
.env.testing
.phpunit.result.cache
/node_modules
/public/css
/public/fonts
/public/hot
/public/images/play-icon.png
/public/js
/public/storage
/public/vendor/openseadragon
/storage/*.key
/storage/debugbar
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
