.file-paper {
    @include paper-bck(4rem);
    &::before {
        @extend %before-after-sizing;
        @extend %file-paper-bgr;
    }
    &::after,
    .bg {
        @extend %before-after-sizing;
        background-size: cover;
    }
}

.block-paper {
    @include paper-bck(1rem);
    &::before {
        @extend %before-after-sizing;
        @extend %block-paper-bgr;
    }
    &::after,
    .bg {
        @extend %before-after-sizing;
        background-size: cover;
    }
}

.tableau-paper {
    @include paper-bck(1rem, true);
    &::before {
        @extend %before-after-sizing;
        @extend %tableau-paper-bgr;
    }
    &::after,
    .bg {
        @extend %before-after-sizing;
        background-size: cover;
    }
}

.doubled-bg {
    &::before {
        @extend %before-after-sizing;
    }
    &::after,
    .bg {
        @extend %before-after-sizing;
        background-size: cover;
    }
    > .bg {
        z-index: 0 !important;
    }
}

.bg-v1 {
    transform: translate(-$background-shift / 2, -$background-shift / 2);
    &::after,
    .bg {
        transform: translate(+ $background-shift, + $background-shift);
    }
}

.bg-v2 {
    transform: translate(-$background-shift / 2, + $background-shift / 2);
    &::after,
    .bg {
        transform: translate(+ $background-shift, -$background-shift);
    }
}

.bg-v3 {
    transform: translate(+ $background-shift / 2, + $background-shift / 2);
    &::after,
    .bg {
        transform: translate(-$background-shift, -$background-shift);
    }
}

.bg-v4 {
    transform: translate(+ $background-shift / 2, -$background-shift / 2);
    &::after,
    .bg {
        transform: translate(-$background-shift, + $background-shift);
    }
}
[class*='bg-'] > .bg {
    z-index: 0 !important;
}

.ruled::before {
    @extend %before-after-sizing;
    top: -1rem;
    background: url('/images/row-double-line.svg');
    background-size: auto 1.5rem;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-position-x: -1rem;
    height: 1rem;
    margin: 0;
}
.ruled {
    position: relative;
    background: url('/images/row-line.svg');
    background-position: left bottom;
    background-size: auto $ruled-paper-line-height;
    line-height: $ruled-paper-line-height !important;
    padding: 0rem 1rem 0rem 0rem;
    margin: 1rem 0 1rem 0rem;
    z-index: 0;
    * {
        line-height: $ruled-paper-line-height !important;
        padding: 0;
        margin: 0;
    }
    h1,
    h2 {
        line-height: $ruled-paper-line-height !important;
        padding: $ruled-paper-line-height 0;
        margin: 0;
    }
    h3,
    h4 {
        line-height: $ruled-paper-line-height !important;
        padding: $ruled-paper-line-height / 2 0;
        margin: 0;
    }
}

.white {
    background: $white;
}
