.item {
    &, a &, a:hover & {
        color: $black;
    }

    & img {
      -webkit-transition: opacity .2s ease-in-out;
      -moz-transition: opacity .2s ease-in-out;
      transition: opacity .2s ease-in-out;

    }

    a:hover & img {
      opacity: 0.85;
    }


    &>.item-image {
        .item-image-background {
            background-color: white;
            margin-top: 10px;
            margin-left: 10px;

            .item-image-container {
                position: relative;
                left: -10px;
                top: -10px;
                box-shadow: 0 3px 10px rgba($black, .075);

                & > img {
                    width: 100%;
                    height: 100%;
                }
            }

            .item-image-description {
                padding: 10px 20px;
                box-shadow: 0 2px 5px rgba($black, .075);
            }
        }
    }

    & .item-text {
        padding-left: 4em;
        padding-top: 2em;
        padding-right: 1em;

        .item-text-read-more-link {

            .btn-link {
                border: none;
                padding: 0;
                color: $black;
                font-weight: bold;
            }
        }
    }

    & .item-author-text {
        padding-left: 2em;
        padding-top: 2em;

        .author-name {
            font-family: $font-family-base;
        }

        img {
            filter: grayscale(100%);
        }

        .item-text {
            padding-left: 0;
        }
    }
}
