html,
body {
    background-color: $gray-dark;
}

h1,
h2,
h3,
h4 {
    padding: 0.5em;
}

h2 {
    font-weight: normal;
}


a:hover {
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none;
}
