html,
body {
    background-color: $gray-dark;
}

h1,
h2,
h3,
h4 {
    padding: 0.5em;
    a {
        color: $white;
    }
}

h2 {
    font-weight: normal;
}

#overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#app > * {
    position: relative;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.underline {
    background: url('/images/underline.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    margin: -1.3rem;
    padding: 1.3rem;
}

.jump-to-top {
    display: inline-block;
    height: 3em;
    width: 3em;
    padding-top: 0.6em;
    margin: 2rem;

    &.btn-outline-light {
        stroke: $light;

        &:hover {
            stroke: $body-color;
        }
    }

    &.btn-outline-dark {
        stroke: $body-color;

        &:hover {
            stroke: $light;
        }
    }
}

/// MORE content-focused styling

// DAY VIEW

.day-content {
    margin-top: 6rem;

    @include media-breakpoint-up(md) {
        margin-top: 7rem;
    }

    .container-fluid {
        padding-right: 2rem;
        margin-left: -$grid-gutter-width / 2;
        margin-bottom: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        padding-left: 0;
    }

    .read-casopis {
        display: block;
        max-width: 200px;
        float: right;
        @media (min-width: map-get( $grid-breakpoints, md)) {
            margin-bottom: -1rem; // compensate image size, on the left side is just a weather caption
        }
    }
    .day-entry {
        .read-more {
            color: $blue;
            white-space: nowrap;
            cursor: pointer;
        }
    }

    .shift-block {
        max-width: 90vw;
        line-height: $ruled-paper-line-height;
        @media (min-width: map-get( $grid-breakpoints, lg)) {
            max-width: map-get($grid-breakpoints, md);
        }
        position: relative !important;
        padding: 2rem 0rem 2rem 3rem;
        margin: auto;
        .profile-pic {
            transform: translate(3rem, -5.5rem);
        }
        &.koller {
            padding: 2rem 0 2rem 1rem;

            &::before {
                background: url('/images/bg_koller.png');
            }
            .ruled {
                padding: 0rem 2rem 2rem 0;
                margin-right: $background-shift;
            }
            @media (min-width: map-get( $grid-breakpoints, lg)) {
                padding: 2rem 0rem 2rem 3rem;
                .ruled {
                    padding-right: 4rem;
                }
            }

            &::after {
                background: white;
            }
            z-index: 1;
        }

        &.koller-reply {
            left: 0;
            line-height: 2rem;
            transform: translate(9%, -1rem);
            padding: 4em 2rem 2rem 2rem;
            max-width: 80vw;
            margin-top: 8rem;
            @media (min-width: map-get( $grid-breakpoints, lg)) {
                max-width: map-get($grid-breakpoints, md) * 0.9;
                padding: 4em 4rem 2rem 5rem;
                margin-top: 0;
                .profile-pic {
                    transform: translate(-4rem, 2.5rem);
                }
            }

            &::before {
                background: white;
            }
            &::after {
                background: url('/images/bg_koller_reply.png');
            }
            .credit {
                text-align: right;
                margin-top: 2rem;
                margin-right: 1rem;
                font-size: 0.8em;
            }
            z-index: 0;
        }
    }

    .profile-pic {
        position: absolute;
        top: 0;
        border-radius: 50%;
        display: block;
        overflow: hidden;
        left: 0;
        width: 8rem;
        height: 8rem;
    }
}

.btn {
    &.btn-outline-blue {
        border-color: $blue;
        color: $light;
        font-weight: 700;

        &:hover {
            color: $light;
            background: $blue;
        }
    }
}

.item-container {
    .drag-and-resize {
        background: rgba(0, 0, 0, 0.2);
    }
}
