.footer {
    text-align: center;
    .topics {
        @media (min-width: map-get($grid-breakpoints, sm)) {
            column-count: 2;
        }
        @media (min-width: map-get($grid-breakpoints, md)) {
            column-count: 3;
        }
        dl {
            break-inside: avoid;
            text-align: left;
            padding: 0 0 1rem 0;
            margin: 0;
            color: $gray;

            dt {
                font-weight: bold;
                color: white;
                text-transform: uppercase;
                border-bottom: 1px solid white;
                display: inline-block;
                margin: 0.5rem 0;
            }

            .recent {
                z-index: 1000;
                position: relative;

                &::before {
                    content: '■ ';
                    position: absolute;
                    top: 0;
                    left: -1rem;
                    z-index: 1;
                }

                &.recent-1::before {
                    color: white;
                }
                &.recent-2::before {
                    color: rgba(white, 0.4);
                }
            }
            a {
                color: $white;
            }
        }
    }
    .new-topics {
        color: $white;
    }

    &.credits {
        background: rgba(0, 0, 0, 0.3);
        color: white;
        margin: auto;
        padding: 2rem 1rem;

        a:hover {
            text-decoration: none;
        }

        img {
            margin: 0.8rem auto;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }
    }
}
