.casopis-header {
    .header {
        &::after {
            background-image: url('/images/intro/01-Cover-01.png');
            background-position: center;
        }

        span {
            font-family: $font-family-base;
            font-weight: normal;
            font-size: 1.05em;
        }
    }

    .perex {
        position: relative;
        margin-top: -1rem;
        background: $purple;
        z-index: 10;

        & > .content {
            transform: translate(0.5rem, -0.5rem);
            background-image: url('/images/perex.png');
            background-size: cover;

            & > h5 {
                @include media-breakpoint-down(sm) {
                    font-size: 1em;
                }
                font-family: $font-family-base;
                font-weight: normal;

                & > a {
                    text-decoration: underline;
                }
            }
        }
    }
}
