%before-after-sizing {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

%block-paper-bgr {
    background-image: url("/images/block-paper-left.svg");
    background-repeat: repeat-y;
    background-size: 1.25rem 1.2rem;
    width: 1.25rem;
}

%file-paper-bgr {
    background-image: url("/images/file-paper.svg");
    background-repeat: repeat-y;
    background-size: 2rem auto;
    width: 2rem;
    @include media-breakpoint-up(sm) {
        background-size: 3rem auto;
        width: 3rem;
    }
}

%tableau-paper-bgr {
    background: url("/images/block-paper-left.svg") top left repeat-y, url("/images/block-paper-right.svg") top right repeat-y;
    background-repeat: repeat-y;
    background-size: 1.25rem 1.2rem;
}

$zigzag-paper-bgr-width: 2rem;
%zigzag-paper-bgr {
    background: url("/images/zigzag-paper.svg") top right repeat-y;
    background-repeat: repeat-y;
    background-size: $zigzag-paper-bgr-width;
}

$bordered-paper-bgr-width: 3rem;
%bordered-paper-bgr {
    background: url("/images/bordered-paper.svg") top left repeat-y;
    background-repeat: repeat-y;
    background-size: $bordered-paper-bgr-width;
}

@mixin paper-bck($offset-left: 0, $offset-right: 0) {
    position: relative;
    z-index: 1;
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0) $offset-left * 0.99,
            rgba(255, 255, 255, 1) $offset-left * 0.99,
            rgba(255, 255, 255, 1) 51%,
            rgba(255, 255, 255, 0) 51%
        ),
        linear-gradient(
            to left,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0) $offset-right * 0.99,
            rgba(255, 255, 255, 1) $offset-right * 0.99,
            rgba(255, 255, 255, 1) 51%,
            rgba(255, 255, 255, 0) 51%
        );

    padding: 1rem ($offset-right + 0.5rem) 1rem ($offset-left + 0.5rem);
}
