h1 {
  @include media-breakpoint-up(sm) {
    font-size: 4.0em;
  }
  @include media-breakpoint-up(md) {
    font-size: 5.25em;
  }
}

h3 {
  font-size: 1.8em;
  @include media-breakpoint-up(md) {
    font-size: $h3-font-size;
  }
}
