// Body
$body-bg: #f8fafc;

// Typography
$font-family-base: 'AvenirLTPro-Roman';

$headings-font-family: 'Gabriello Web';
$headings-font-weight: 700;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$line-height-base: 1.6;

$light-blue: #5c83fc;
$blue: #637fcf;
$purple: #746495;
$red: #e3342f;

$h1-font-size: 3.9em;
$h2-font-size: 3.2em;
$h3-font-size: 2.1em;
$h4-font-size: 1.1em;
