//fonts
@import 'fonts.scss';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,
body {
    background-color: #333;
}

h1,
h2,
h3,
h4 {
    padding: 0.5em;
}

h2 {
    font-weight: normal;
}

a {
    color: #ccc;
}

a:hover {
    color: white;
}

%before-after-sizing {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

%block-paper {
    background-image: url('images/border-01.svg');
    background-repeat: repeat-y;
    background-size: 1.25rem 1.2rem;
    width: 1.25rem;
}

%file-paper {
    background-image: url('images/border-02.svg');
    background-repeat: repeat-y;
    background-size: 4rem auto;
    width: 4rem;
}

%tableau-paper {
    background: url('images/border-01.svg') top left repeat-y, url('images/border-01-mirror.svg') top right repeat-y;
    background-repeat: repeat-y;
    background-size: 1.25rem 1.2rem;
}

@mixin paper-bck($offset, $doubled: false) {
    position: relative;
    z-index: 1;
    @if $doubled {
        background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0) $offset * 0.98,
                rgba(255, 255, 255, 1) $offset * 0.98,
                rgba(255, 255, 255, 1) 50%,
                rgba(255, 255, 255, 0) 50%
            ),
            linear-gradient(
                to left,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0) $offset * 0.98,
                rgba(255, 255, 255, 1) $offset * 0.98,
                rgba(255, 255, 255, 1) 50%,
                rgba(255, 255, 255, 0) 50%
            );

        padding: 1rem ($offset + 0.5rem);
    } @else {
        background: transparent
            linear-gradient(
                to right,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0) $offset * 0.98,
                white $offset * 0.98
            );
        padding: 1rem 2rem 1rem ($offset + 0.5rem);
    }
}

.file-paper {
    @include paper-bck(4rem);
    margin: 0.5rem;
}

.file-paper::before {
    @extend %before-after-sizing;
    @extend %file-paper;
}

.file-paper::after {
    @extend %before-after-sizing;
    background-size: cover;
}

.block-paper {
    @include paper-bck(1rem);
    margin: 0.5rem;
}

.block-paper::before {
    @extend %before-after-sizing;
    @extend %block-paper;
}

.block-paper::after {
    @extend %before-after-sizing;
    background-size: cover;
}

.tableau-paper {
    @include paper-bck(1rem, true);
    margin: 0.5rem;
}

.tableau-paper::before {
    @extend %before-after-sizing;
    @extend %tableau-paper;
}

.tableau-paper::after {
    @extend %before-after-sizing;
    background-size: cover;
}

.bg-v1 {
    transform: translate(-0.25em, -0.25em);
    &::after {
        transform: translate(+0.5em, +0.5em);
    }
}

.bg-v2 {
    transform: translate(-0.25em, +0.25em);
    &::after {
        transform: translate(+0.5em, -0.5em);
    }
}

.bg-v3 {
    transform: translate(+0.25em, +0.25em);
    &::after {
        transform: translate(-0.5em, -0.5em);
    }
}

.bg-v4 {
    transform: translate(+0.25em, -0.25em);
    &::after {
        transform: translate(-0.5em, +0.5em);
    }
}
