.topic-preview {
  transform: translate(-0.5em, -0.5em);
  background-color: $gray-dark;
  background-size: cover;
  background-position: top center;
  width: 100%;
  padding-bottom: 65%;
  opacity: 0.9;
  transition: opacity, transform .2s ease-in-out;
  .white a:hover & {
    opacity: 1.0;
    transform: translate(-0.3em, -0.3em);
  }
}

#topic {
    background-color: $gray-light;

    .header {
        #top-nav {
            color: $white;
            & > .year {
                font-family: $font-family-base;
                font-weight: normal;
            }

            @include media-breakpoint-down(sm) {
                font-size: $h4-font-size;
            }
        }

        #title-container {
            min-height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 10rem;
        }

        #title {
            color: $white;

            @include media-breakpoint-down(sm) {
                font-size: $h2-font-size;
            }
        }

        #description-container {
            top: -10rem;
            margin-bottom: -10rem;
        }

        #description {
            z-index: 99;
        }
    }

    .cover-image {
        background-color: $gray-dark;
        background-size: cover;
        background-position: top center;

        @include media-breakpoint-up(sm) {
            background-attachment: fixed;
        }
    }

    .related-topic {

        .topic-preview {
            padding-bottom: 50%;
        }

        .description  {
            font-size: 1.2em;

            &> h4 {
                font-family: $font-family-base;
                font-weight: 800;
                padding: 0;
                margin-top: 1rem;
                opacity: .5;
            }
        }
    }

    .item-container {
        position: relative;
        width: 100%;
        min-height: 1px;

        &.focused {
            z-index: 20;
        }
    }

    #items {
        div.item {
            position: absolute;
            z-index: 10;
        }

        @media(max-width: 720px) {

            div.item {
                margin: 0 0 30px 0 !important;
                width: 100% !important;
                height: auto !important;
                position: static !important;
                left: 0 !important;
                top: 0 !important;
            }
        }
    }

    footer {
        background-color: $blue;

        &> .container {
            margin-top: 200px;
            position: relative;
            top: -100px;
        }
    }
}
