.cldr-row {
  position: relative;
}
.cldr-row button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5vw;
}
.cldr-row button:last-child {
  right: 0;
  left: auto;
}
.cldr-days-wrap {
  position: relative;
  left: 10vw;
  width: 80vw;
  height: 2.5em;
  overflow-x: hidden;
}
.cldr-row-day {
  display: inline-block;
  position: absolute;
  margin: 0;
  top: 0;
  width: calc(80vw / 9);
  max-width: calc(80vw / 9);
  height: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  /* transition: background-color 0.1s ease-in-out; */
}
.cldr-row-day.selected {
  background: red;
}
.cldr-row-day.inactive {
  color: #aaa;
  pointer-events: none;
}.cldr {
  position: relative;
}
.weekend {
  font-weight: bolder;
}
.cldr-months-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
.cldr-week-wrapper {
  position: relative;
  text-align: left;
  background: rgba(255, 255, 255, 0.95);
}
.cldr-week {
  display: inline-block;
  text-align: right;
  width: 2em;
}
.cldr-days-wrapper {
  display: inline-block;
  margin-left: 2em;
}
.cldr-day-wrapper {
  display: inline-block;
  left: 1em;
  padding: 4px;
  width: 3em;
  line-height: 2em;
  cursor: pointer;
  text-align: center;
}
.cldr-day-wrapper.inactive {
  opacity: 0.4;
  pointer-events: none;
}
.cldr-day-wrapper.shaded {
  background: rgba(0, 0, 0, 0.1);
}
.cldr-day-wrapper:hover {
  background: rgba(0, 0, 0, 0.2);
}
.cldr-day {
  display: inline-block;
}